<div class="card-body">
    <form action="http://localhost/socheko-menu/dashboard/seller/category/request/store" method="post" enctype="multipart/form-data">

        <input type="hidden" name="_token" value="kOEvsdd5HEU696kFSotrU4d1LO7Mc5jLDgWBfwC0">        <div class="form-group">
            <label>Parent category</label>
            <select class="form-control select2 w-100" name="category_id" required>
                <option value="">Select a parent category</option>
                                    <option value="350">Italian</option>
                                    <option value="353">Chinese</option>
                            </select>
        </div>

        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" type="text" placeholder="Category name" required>

        </div>


        <div class="float-right">
            <button class="btn btn-primary float-right" type="submit">Save</button>
        </div>

    </form>
</div>



