<form class="border border-light p-5" action="http://localhost/socheko-menu/dashboard/order/followup/comment/51" method="POST"
      enctype="multipart/form-data">
    <input type="hidden" name="_token" value="IalEvkngtFcgFiv1fWl19G3V9JhysjPYA1PHjcPL">

    <label for="textarea">Write a reason for follow up.</label>
    <textarea id="textarea" name="comment" class="form-control mb-4" placeholder="Customer did not pick up the call"
              required></textarea>

    <button class="btn btn-info btn-block my-4" type="submit">Submit</button>

</form>


