<form action="http://localhost/socheko-menu/dashboard/currency/store" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_token" value="GYRFL4hUhr9uREaZ8EuehwFyBlcaDBUmkXJC02k8">
    <div class="form-group">
        <label for="name" class="col-form-label text-md-right">Name <span class="text-danger">*</span></label>
        <input placeholder="Ex : United State" type="text" class="form-control" name="name" autofocus required>
    </div>

    <div class="form-group">
        <label for="name" class="col-form-label text-md-right">Symbol <span class="text-danger">*</span></label>
        <input placeholder="Ex : $" type="text" class="form-control" name="symbol" required>
    </div>

    <div class="form-group">
        <label for="name" class="col-form-label text-md-right">Code <span class="text-danger">*</span></label>
        <input placeholder="Ex : USD" type="text" class="form-control" name="code" required>
    </div>

    <div class="form-group">
        <label for="name" class="col-form-label text-md-right">Exchange Rate Ex: 1 USD = ? <span class="text-danger">*</span></label>
        <input  min="0.01" step="0.01" placeholder="Ex: 1 USD = ?" type="number" class="form-control" name="rate" required>
    </div>

    <div class="form-group">
        <label class="control-label">Select country Flag <span
                class="text-danger">*</span></label>
        <div class="">
            <select class="form-control lang" name="image" required>
                <option value=""></option>
                                                                                                                                    <option value="Flag_of_Abkhazia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Abkhazia.png"> Abkhazia</option>
                                                                                <option value="Flag_of_Afghanistan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Afghanistan.png"> Afghanistan</option>
                                                                                <option value="Flag_of_Albania.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Albania.png"> Albania</option>
                                                                                <option value="Flag_of_Algeria.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Algeria.png"> Algeria</option>
                                                                                <option value="Flag_of_Andorra.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Andorra.png"> Andorra</option>
                                                                                <option value="Flag_of_Angola.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Angola.png"> Angola</option>
                                                                                <option value="Flag_of_Antigua_and_Barbuda.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Antigua_and_Barbuda.png"> Antigua and Barbuda</option>
                                                                                <option value="Flag_of_Argentina.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Argentina.png"> Argentina</option>
                                                                                <option value="Flag_of_Armenia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Armenia.png"> Armenia</option>
                                                                                <option value="Flag_of_Australia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Australia.png"> Australia</option>
                                                                                <option value="Flag_of_Austria.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Austria.png"> Austria</option>
                                                                                <option value="Flag_of_Azerbaijan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Azerbaijan.png"> Azerbaijan</option>
                                                                                <option value="Flag_of_Bahrain.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Bahrain.png"> Bahrain</option>
                                                                                <option value="Flag_of_Bangladesh.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Bangladesh.png"> Bangladesh</option>
                                                                                <option value="Flag_of_Barbados.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Barbados.png"> Barbados</option>
                                                                                <option value="Flag_of_Belarus.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Belarus.png"> Belarus</option>
                                                                                <option value="Flag_of_Belgium.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Belgium.png"> Belgium</option>
                                                                                <option value="Flag_of_Belize.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Belize.png"> Belize</option>
                                                                                <option value="Flag_of_Benin.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Benin.png"> Benin</option>
                                                                                <option value="Flag_of_Bhutan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Bhutan.png"> Bhutan</option>
                                                                                <option value="Flag_of_Bolivia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Bolivia.png"> Bolivia</option>
                                                                                <option value="Flag_of_Bosnia_and_Herzegovina.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Bosnia_and_Herzegovina.png"> Bosnia and Herzegovina</option>
                                                                                <option value="Flag_of_Botswana.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Botswana.png"> Botswana</option>
                                                                                <option value="Flag_of_Brazil.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Brazil.png"> Brazil</option>
                                                                                <option value="Flag_of_Brunei.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Brunei.png"> Brunei</option>
                                                                                <option value="Flag_of_Bulgaria.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Bulgaria.png"> Bulgaria</option>
                                                                                <option value="Flag_of_Burkina_Faso.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Burkina_Faso.png"> Burkina Faso</option>
                                                                                <option value="Flag_of_Burundi.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Burundi.png"> Burundi</option>
                                                                                <option value="Flag_of_Cambodia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Cambodia.png"> Cambodia</option>
                                                                                <option value="Flag_of_Cameroon.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Cameroon.png"> Cameroon</option>
                                                                                <option value="Flag_of_Canada.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Canada.png"> Canada</option>
                                                                                <option value="Flag_of_Cape_Verde.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Cape_Verde.png"> Cape Verde</option>
                                                                                <option value="Flag_of_Chad.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Chad.png"> Chad</option>
                                                                                <option value="Flag_of_Chile.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Chile.png"> Chile</option>
                                                                                <option value="Flag_of_Colombia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Colombia.png"> Colombia</option>
                                                                                <option value="Flag_of_Costa_Rica.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Costa_Rica.png"> Costa Rica</option>
                                                                                <option value="Flag_of_Croatia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Croatia.png"> Croatia</option>
                                                                                <option value="Flag_of_Cuba.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Cuba.png"> Cuba</option>
                                                                                <option value="Flag_of_Cyprus.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Cyprus.png"> Cyprus</option>
                                                                                <option value="Flag_of_Denmark.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Denmark.png"> Denmark</option>
                                                                                <option value="Flag_of_Djibouti.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Djibouti.png"> Djibouti</option>
                                                                                <option value="Flag_of_Dominica.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Dominica.png"> Dominica</option>
                                                                                <option value="Flag_of_East_Timor.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_East_Timor.png"> East Timor</option>
                                                                                <option value="Flag_of_Ecuador.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Ecuador.png"> Ecuador</option>
                                                                                <option value="Flag_of_Egypt.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Egypt.png"> Egypt</option>
                                                                                <option value="Flag_of_El_Salvador.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_El_Salvador.png"> El Salvador</option>
                                                                                <option value="Flag_of_Equatorial_Guinea.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Equatorial_Guinea.png"> Equatorial Guinea</option>
                                                                                <option value="Flag_of_Eritrea.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Eritrea.png"> Eritrea</option>
                                                                                <option value="Flag_of_Estonia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Estonia.png"> Estonia</option>
                                                                                <option value="Flag_of_Ethiopia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Ethiopia.png"> Ethiopia</option>
                                                                                <option value="Flag_of_Fiji.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Fiji.png"> Fiji</option>
                                                                                <option value="Flag_of_Finland.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Finland.png"> Finland</option>
                                                                                <option value="Flag_of_France.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_France.png"> France</option>
                                                                                <option value="Flag_of_Gabon.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Gabon.png"> Gabon</option>
                                                                                <option value="Flag_of_Georgia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Georgia.png"> Georgia</option>
                                                                                <option value="Flag_of_Germany.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Germany.png"> Germany</option>
                                                                                <option value="Flag_of_Ghana.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Ghana.png"> Ghana</option>
                                                                                <option value="Flag_of_Greece.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Greece.png"> Greece</option>
                                                                                <option value="Flag_of_Grenada.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Grenada.png"> Grenada</option>
                                                                                <option value="Flag_of_Guatemala.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Guatemala.png"> Guatemala</option>
                                                                                <option value="Flag_of_Guinea-Bissau.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Guinea-Bissau.png"> Guinea-Bissau</option>
                                                                                <option value="Flag_of_Guinea.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Guinea.png"> Guinea</option>
                                                                                <option value="Flag_of_Guyana.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Guyana.png"> Guyana</option>
                                                                                <option value="Flag_of_Haiti.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Haiti.png"> Haiti</option>
                                                                                <option value="Flag_of_Honduras.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Honduras.png"> Honduras</option>
                                                                                <option value="Flag_of_Hungary.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Hungary.png"> Hungary</option>
                                                                                <option value="Flag_of_Iceland.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Iceland.png"> Iceland</option>
                                                                                <option value="Flag_of_India.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_India.png"> India</option>
                                                                                <option value="Flag_of_Indonesia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Indonesia.png"> Indonesia</option>
                                                                                <option value="Flag_of_Iran.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Iran.png"> Iran</option>
                                                                                <option value="Flag_of_Iraq.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Iraq.png"> Iraq</option>
                                                                                <option value="Flag_of_Ireland.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Ireland.png"> Ireland</option>
                                                                                <option value="Flag_of_Israel.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Israel.png"> Israel</option>
                                                                                <option value="Flag_of_Italy.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Italy.png"> Italy</option>
                                                                                <option value="Flag_of_Ivory_Coast.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Ivory_Coast.png"> Ivory Coast</option>
                                                                                <option value="Flag_of_Jamaica.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Jamaica.png"> Jamaica</option>
                                                                                <option value="Flag_of_Japan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Japan.png"> Japan</option>
                                                                                <option value="Flag_of_Jordan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Jordan.png"> Jordan</option>
                                                                                <option value="Flag_of_Kazakhstan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Kazakhstan.png"> Kazakhstan</option>
                                                                                <option value="Flag_of_Kenya.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Kenya.png"> Kenya</option>
                                                                                <option value="Flag_of_Kiribati.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Kiribati.png"> Kiribati</option>
                                                                                <option value="Flag_of_Kosovo.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Kosovo.png"> Kosovo</option>
                                                                                <option value="Flag_of_Kuwait.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Kuwait.png"> Kuwait</option>
                                                                                <option value="Flag_of_Kyrgyzstan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Kyrgyzstan.png"> Kyrgyzstan</option>
                                                                                <option value="Flag_of_Laos.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Laos.png"> Laos</option>
                                                                                <option value="Flag_of_Latvia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Latvia.png"> Latvia</option>
                                                                                <option value="Flag_of_Lebanon.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Lebanon.png"> Lebanon</option>
                                                                                <option value="Flag_of_Lesotho.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Lesotho.png"> Lesotho</option>
                                                                                <option value="Flag_of_Liberia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Liberia.png"> Liberia</option>
                                                                                <option value="Flag_of_Libya.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Libya.png"> Libya</option>
                                                                                <option value="Flag_of_Liechtenstein.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Liechtenstein.png"> Liechtenstein</option>
                                                                                <option value="Flag_of_Lithuania.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Lithuania.png"> Lithuania</option>
                                                                                <option value="Flag_of_Luxembourg.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Luxembourg.png"> Luxembourg</option>
                                                                                <option value="Flag_of_Macedonia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Macedonia.png"> Macedonia</option>
                                                                                <option value="Flag_of_Madagascar.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Madagascar.png"> Madagascar</option>
                                                                                <option value="Flag_of_Malawi.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Malawi.png"> Malawi</option>
                                                                                <option value="Flag_of_Malaysia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Malaysia.png"> Malaysia</option>
                                                                                <option value="Flag_of_Maldives.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Maldives.png"> Maldives</option>
                                                                                <option value="Flag_of_Mali.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Mali.png"> Mali</option>
                                                                                <option value="Flag_of_Malta.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Malta.png"> Malta</option>
                                                                                <option value="Flag_of_Mauritania.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Mauritania.png"> Mauritania</option>
                                                                                <option value="Flag_of_Mauritius.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Mauritius.png"> Mauritius</option>
                                                                                <option value="Flag_of_Mexico.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Mexico.png"> Mexico</option>
                                                                                <option value="Flag_of_Moldova.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Moldova.png"> Moldova</option>
                                                                                <option value="Flag_of_Monaco.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Monaco.png"> Monaco</option>
                                                                                <option value="Flag_of_Mongolia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Mongolia.png"> Mongolia</option>
                                                                                <option value="Flag_of_Montenegro.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Montenegro.png"> Montenegro</option>
                                                                                <option value="Flag_of_Morocco.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Morocco.png"> Morocco</option>
                                                                                <option value="Flag_of_Mozambique.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Mozambique.png"> Mozambique</option>
                                                                                <option value="Flag_of_Myanmar.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Myanmar.png"> Myanmar</option>
                                                                                <option value="Flag_of_Nagorno-Karabakh.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Nagorno-Karabakh.png"> Nagorno-Karabakh</option>
                                                                                <option value="Flag_of_Namibia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Namibia.png"> Namibia</option>
                                                                                <option value="Flag_of_Nauru.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Nauru.png"> Nauru</option>
                                                                                <option value="Flag_of_Nepal.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Nepal.png"> Nepal</option>
                                                                                <option value="Flag_of_New_Zealand.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_New_Zealand.png"> New Zealand</option>
                                                                                <option value="Flag_of_Nicaragua.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Nicaragua.png"> Nicaragua</option>
                                                                                <option value="Flag_of_Niger.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Niger.png"> Niger</option>
                                                                                <option value="Flag_of_Nigeria.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Nigeria.png"> Nigeria</option>
                                                                                <option value="Flag_of_Niue.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Niue.png"> Niue</option>
                                                                                <option value="Flag_of_North_Korea.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_North_Korea.png"> North Korea</option>
                                                                                <option value="Flag_of_Norway.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Norway.png"> Norway</option>
                                                                                <option value="Flag_of_Oman.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Oman.png"> Oman</option>
                                                                                <option value="Flag_of_Pakistan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Pakistan.png"> Pakistan</option>
                                                                                <option value="Flag_of_Palau.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Palau.png"> Palau</option>
                                                                                <option value="Flag_of_Palestine.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Palestine.png"> Palestine</option>
                                                                                <option value="Flag_of_Panama.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Panama.png"> Panama</option>
                                                                                <option value="Flag_of_Papua_New_Guinea.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Papua_New_Guinea.png"> Papua New Guinea</option>
                                                                                <option value="Flag_of_Paraguay.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Paraguay.png"> Paraguay</option>
                                                                                <option value="Flag_of_Peru.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Peru.png"> Peru</option>
                                                                                <option value="Flag_of_Poland.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Poland.png"> Poland</option>
                                                                                <option value="Flag_of_Portugal.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Portugal.png"> Portugal</option>
                                                                                <option value="Flag_of_Qatar.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Qatar.png"> Qatar</option>
                                                                                <option value="Flag_of_Romania.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Romania.png"> Romania</option>
                                                                                <option value="Flag_of_Russia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Russia.png"> Russia</option>
                                                                                <option value="Flag_of_Rwanda.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Rwanda.png"> Rwanda</option>
                                                                                <option value="Flag_of_Saint_Kitts_and_Nevis.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Saint_Kitts_and_Nevis.png"> Saint Kitts and Nevis</option>
                                                                                <option value="Flag_of_Saint_Lucia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Saint_Lucia.png"> Saint Lucia</option>
                                                                                <option value="Flag_of_Saint_Vincent_and_the_Grenadines.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Saint_Vincent_and_the_Grenadines.png"> Saint Vincent and the Grenadines</option>
                                                                                <option value="Flag_of_Samoa.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Samoa.png"> Samoa</option>
                                                                                <option value="Flag_of_San_Marino.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_San_Marino.png"> San Marino</option>
                                                                                <option value="Flag_of_Sao_Tome_and_Principe.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Sao_Tome_and_Principe.png"> Sao Tome and Principe</option>
                                                                                <option value="Flag_of_Saudi_Arabia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Saudi_Arabia.png"> Saudi Arabia</option>
                                                                                <option value="Flag_of_Senegal.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Senegal.png"> Senegal</option>
                                                                                <option value="Flag_of_Serbia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Serbia.png"> Serbia</option>
                                                                                <option value="Flag_of_Seychelles.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Seychelles.png"> Seychelles</option>
                                                                                <option value="Flag_of_Sierra_Leone.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Sierra_Leone.png"> Sierra Leone</option>
                                                                                <option value="Flag_of_Singapore.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Singapore.png"> Singapore</option>
                                                                                <option value="Flag_of_Slovakia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Slovakia.png"> Slovakia</option>
                                                                                <option value="Flag_of_Slovenia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Slovenia.png"> Slovenia</option>
                                                                                <option value="Flag_of_Somalia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Somalia.png"> Somalia</option>
                                                                                <option value="Flag_of_Somaliland.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Somaliland.png"> Somaliland</option>
                                                                                <option value="Flag_of_South_Africa.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_South_Africa.png"> South Africa</option>
                                                                                <option value="Flag_of_South_Korea.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_South_Korea.png"> South Korea</option>
                                                                                <option value="Flag_of_South_Ossetia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_South_Ossetia.png"> South Ossetia</option>
                                                                                <option value="Flag_of_South_Sudan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_South_Sudan.png"> South Sudan</option>
                                                                                <option value="Flag_of_Spain.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Spain.png"> Spain</option>
                                                                                <option value="Flag_of_Sri_Lanka.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Sri_Lanka.png"> Sri Lanka</option>
                                                                                <option value="Flag_of_Sudan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Sudan.png"> Sudan</option>
                                                                                <option value="Flag_of_Suriname.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Suriname.png"> Suriname</option>
                                                                                <option value="Flag_of_Swaziland.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Swaziland.png"> Swaziland</option>
                                                                                <option value="Flag_of_Sweden.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Sweden.png"> Sweden</option>
                                                                                <option value="Flag_of_Switzerland_(Pantone).png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Switzerland_(Pantone).png"> Switzerland (Pantone)</option>
                                                                                <option value="Flag_of_Syria.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Syria.png"> Syria</option>
                                                                                <option value="Flag_of_Tajikistan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Tajikistan.png"> Tajikistan</option>
                                                                                <option value="Flag_of_Tanzania.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Tanzania.png"> Tanzania</option>
                                                                                <option value="Flag_of_Thailand.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Thailand.png"> Thailand</option>
                                                                                <option value="Flag_of_The_Gambia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_The_Gambia.png"> The Gambia</option>
                                                                                <option value="Flag_of_Togo.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Togo.png"> Togo</option>
                                                                                <option value="Flag_of_Tonga.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Tonga.png"> Tonga</option>
                                                                                <option value="Flag_of_Transnistria.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Transnistria.png"> Transnistria</option>
                                                                                <option value="Flag_of_Trinidad_and_Tobago.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Trinidad_and_Tobago.png"> Trinidad and Tobago</option>
                                                                                <option value="Flag_of_Tunisia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Tunisia.png"> Tunisia</option>
                                                                                <option value="Flag_of_Turkey.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Turkey.png"> Turkey</option>
                                                                                <option value="Flag_of_Turkmenistan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Turkmenistan.png"> Turkmenistan</option>
                                                                                <option value="Flag_of_Tuvalu.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Tuvalu.png"> Tuvalu</option>
                                                                                <option value="Flag_of_Uganda.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Uganda.png"> Uganda</option>
                                                                                <option value="Flag_of_Ukraine.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Ukraine.png"> Ukraine</option>
                                                                                <option value="Flag_of_Uruguay.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Uruguay.png"> Uruguay</option>
                                                                                <option value="Flag_of_Uzbekistan.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Uzbekistan.png"> Uzbekistan</option>
                                                                                <option value="Flag_of_Vanuatu.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Vanuatu.png"> Vanuatu</option>
                                                                                <option value="Flag_of_Venezuela.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Venezuela.png"> Venezuela</option>
                                                                                <option value="Flag_of_Vietnam.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Vietnam.png"> Vietnam</option>
                                                                                <option value="Flag_of_Yemen.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Yemen.png"> Yemen</option>
                                                                                <option value="Flag_of_Zambia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Zambia.png"> Zambia</option>
                                                                                <option value="Flag_of_Zimbabwe.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_Zimbabwe.png"> Zimbabwe</option>
                                                                                <option value="Flag_of_the_Bahamas.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Bahamas.png"> The Bahamas</option>
                                                                                <option value="Flag_of_the_Central_African_Republic.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Central_African_Republic.png"> The Central African Republic</option>
                                                                                <option value="Flag_of_the_Comoros.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Comoros.png"> The Comoros</option>
                                                                                <option value="Flag_of_the_Cook_Islands.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Cook_Islands.png"> The Cook Islands</option>
                                                                                <option value="Flag_of_the_Czech_Republic.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Czech_Republic.png"> The Czech Republic</option>
                                                                                <option value="Flag_of_the_Democratic_Republic_of_the_Congo.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Democratic_Republic_of_the_Congo.png"> The Democratic Republic of the Congo</option>
                                                                                <option value="Flag_of_the_Dominican_Republic.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Dominican_Republic.png"> The Dominican Republic</option>
                                                                                <option value="Flag_of_the_Federated_States_of_Micronesia.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Federated_States_of_Micronesia.png"> The Federated States of Micronesia</option>
                                                                                <option value="Flag_of_the_Marshall_Islands.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Marshall_Islands.png"> The Marshall Islands</option>
                                                                                <option value="Flag_of_the_Netherlands.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Netherlands.png"> The Netherlands</option>
                                                                                <option value="Flag_of_the_People&#039;s_Republic_of_China.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_People&#039;s_Republic_of_China.png"> The People&#039;s Republic of China</option>
                                                                                <option value="Flag_of_the_Philippines.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Philippines.png"> The Philippines</option>
                                                                                <option value="Flag_of_the_Republic_of_China.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Republic_of_China.png"> The Republic of China</option>
                                                                                <option value="Flag_of_the_Republic_of_the_Congo.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Republic_of_the_Congo.png"> The Republic of the Congo</option>
                                                                                <option value="Flag_of_the_Sahrawi_Arab_Democratic_Republic.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Sahrawi_Arab_Democratic_Republic.png"> The Sahrawi Arab Democratic Republic</option>
                                                                                <option value="Flag_of_the_Solomon_Islands.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Solomon_Islands.png"> The Solomon Islands</option>
                                                                                <option value="Flag_of_the_Turkish_Republic_of_Northern_Cyprus.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Turkish_Republic_of_Northern_Cyprus.png"> The Turkish Republic of Northern Cyprus</option>
                                                                                <option value="Flag_of_the_United_Arab_Emirates.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_United_Arab_Emirates.png"> The United Arab Emirates</option>
                                                                                <option value="Flag_of_the_United_Kingdom.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_United_Kingdom.png"> The United Kingdom</option>
                                                                                <option value="Flag_of_the_United_States.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_United_States.png"> The United States</option>
                                                                                <option value="Flag_of_the_Vatican_City.png"
                                data-image="http://localhost/socheko-menu/public/images/lang/Flag_of_the_Vatican_City.png"> The Vatican City</option>
                                                </select>
        </div>
    </div>

    <div class="float-right">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>


</form>
