
        <div class='form-group p-lr-10'>
          <div class='row'>
            <div class='col-md-6'>
            <input type='hidden' class='logistic_url' value='http://localhost/socheko-menu/get/total/amount'>
              <div class='ps-radio'>
                <input name='logistic' value='5'>
                <input required class='form-control logistic_id' onclick='myLogistic(this)' type='radio' value='0.03' name='logistic_id' data-logisticId='5' data-id='shipping5' id='shipping5'>
                <label for='shipping5'>courier X (1 to 2 Hours)</label>
              </div>
            </div>
            <div class='col-md-6 text-right'>
              NPR0.03
            </div>
          </div>
        </div>
            