<img class='card-img-top m-3 h-auto w-25' src='http://localhost/socheko-menu/public/uploads/newari-khaja-set/b1zMuGeVpjxkWZ2E1WmV5PkbChyyczalPiD57qne.jpeg' alt='Newari Khaja Set'>
        <div class='card-body'>
          <h5 class='card-title'>Newari Khaja Set</h5>
        </div><div class='card-body'>
          <a href='http://localhost/socheko-menu/product/934624/newari-khaja-set' class='card-link btn btn-primary' target='_blank'>View in Page</a>
        </div><div class='row'><div class='row m-2' style='visibility:hidden'><div class='form-group col-6'>
                            <label>Total Quantity</label>
                                <input name='t_quantity' type='hidden' min='0' placeholder='Total Quantity'
                                       class='form-control' value='100000000000'>

                        </div><div class='form-group col-6'>
                            <label>Alert Quantity</label>
                                <input name='alert_quantity' min='0' name='a_quantity' type='number' placeholder='Alert Quantity'
                                       class='form-control' value='1'>

                        </div></div></div>