<div class="card-body">
    <form action="http://localhost/socheko-menu/dashboard/category/group/update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_token" value="kdFqvJbrtclDClLiSkI2yCWGTOvn0zEoBiFK9Dnx">         <input type="hidden" name="id" value="349">
         <input type="hidden" name="slug" value="italian">
        <div class="form-group">
            <label>Name <span class="text-danger">*</span></label>
            <input class="form-control" name="name" value="Italian" required>
        </div>

        <div class="form-group">
            <label class="col-form-label text-md-right">Icon Class</label>
            <div class="custom-file">
                <input class="form-control" value=""  name="icon" type="text">
                <small>Want more icon ? <a href="https://fontawesome.com/v4.7.0/icons/"  target="_blank">Font Awesome</a></small>
            </div>
        </div>

                <div class="form-group">
            <label class="col-form-label text-md-right">Image</label>
            <div class="">
                <input name="image" type="hidden" value="">
                <input class="form-control-file sr-file" placeholder="Choose Image  only"   name="newImage" type="file">
                <small class="text-info">Upload file support png, jpg, svg format</small>
            </div>
        </div>

        <div class="form-group">
            <label>Meta Title</label>
            <input class="form-control" name="meta_title" type="text" max="100" value="">
            <small class="text-info">Google standard 100 characters</small>
        </div>

        <div class="form-group">
            <label>Meta Description</label>
            <input class="form-control form-control-lg" name="meta_desc" max="200" value="">
            <small class="text-info">Google standard 200 characters</small>
        </div>

        <div class="float-right">
            <button class="btn btn-primary float-right" type="submit">Save</button>
        </div>

    </form>
</div>



