<div class="card-body">
    <form action="http://localhost/socheko-menu/dashboard/seller/products/brands/store" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_token" value="9ctjBjZtw8sdYixeGbrqlHJtRSN1V5biWUXfiMTb">        <div class="form-group">
            <label>Name <span class="text-danger">*</span></label>
            <input class="form-control" name="name" placeholder="Name" required>
        </div>

        <div class="form-group">
            <label class="col-form-label text-md-right">Logo</label>
            <div class="">
                <input class="form-control-file sr-file" placeholder="Choose Image  only"  name="logo" type="file">
                <small class="text-info">Supported format: png, jpg, svg</small>
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label text-md-right">Banner</label>
            <div class="">
                <input class="form-control-file sr-file" placeholder="Choose Image only"  name="banner" type="file">
                <small class="text-info">Supported format: png, jpg, svg</small>
            </div>
        </div>

        <div class="form-group">
            <label>Meta Title</label>
            <input class="form-control" name="meta_title" type="text" max="100" placeholder="Meta Title">
            <small class="text-info">Google standard: 100 characters</small>
        </div>

        <div class="form-group">
            <label>Meta Description</label>
            <input class="form-control form-control-lg" name="meta_desc" max="200" placeholder="Meta Description">
            <small class="text-info">Google standard: 200 characters</small>
        </div>

        <div class="float-right">
            <button class="btn btn-primary float-right" type="submit">Save</button>
        </div>

    </form>
</div>
