<div class="card-body">
    <h3><b>Your Current Balance is : NPR0.00</b></h3>
    <form action="http://localhost/socheko-menu/dashboard/seller/payments/store" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_token" value="hMqTAMIkAAwNAKvqtklAJCgceiVeAw66Onafb5PO">        <input type="hidden" name="status" value="Request">
        <div class="form-group">
            <label>Withdrawal Amount <span class="text-danger">*</span></label>
            <input class="form-control" type="number" min="10" max="" name="amount" required>
        </div>
        <div class="form-group">
            <label>Payment Process <span class="text-danger">*</span></label>
            <select class="form-control lang select2" name="process" required>

                                    <option value="">Setup Your Account First</option>
                
                                
                                
                
            </select>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control"></textarea>
        </div>
        <div class="float-right">
            <button class="btn btn-primary float-right" type="submit">Save</button>
        </div>

    </form>
</div>
