
                <div class="col-3">
                    <a href=http://localhost/socheko-menu/product/168033/chilly-burger class="img-fluid"  alt=Chilly Burger>
                        <img src=http://localhost/socheko-menu/public/uploads/chilly-burger/ofNQEBJTBPSmkvybnsUa1GqR9fN31fkrqWzX8CiL.jpeg class="img-fluid w-50" alt=Chilly Burger>
                    </a>
                </div>
                <div class="col-9">
                    <a href=http://localhost/socheko-menu/product/168033/chilly-burger>Chilly Burger</a>
                </div>
                