<div class="m-3">
    <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 ">
                <div class="card p-2">
                    <div class="card-body">
                        <h4>S</h4>
                        <p>Extra price $0.06</p>
                        <p>Stock 5</p>

                        <figure>
                            <figcaption>Quantity</figcaption>

                            <div class="value-button" id="6160" onclick="decreaseValueCamp(this)"
                                 value="Decrease Value">-
                            </div>

                            <input type="number"
                                   id="number6160"
                                   value="1"
                                   min="1"
                                   max="5"
                                   data-max="5"
                                   class="cart-quantity-6160 input-number camp-steps"
                                   readonly
                            />
                            <div class="value-button" id="6160" onclick="increaseValueCamp(this)"
                                 value="Increase Value">+
                            </div>

                        </figure>
                    </div>
                    <div class="card-body">
                                                                                <div class="card-footer text-center border-top-0">
                                    <a href="#"
                                       class="btn btn-primary m-2 p-3 fs-12 addToCart-6160"
                                       onclick="addToGuestCart('6160','6')">Buy Now</a>
                                </div>
                                            </div>
                </div>
            </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 ">
                <div class="card p-2">
                    <div class="card-body">
                        <h4>M</h4>
                        <p>Extra price $0.06</p>
                        <p>Stock 3</p>

                        <figure>
                            <figcaption>Quantity</figcaption>

                            <div class="value-button" id="6161" onclick="decreaseValueCamp(this)"
                                 value="Decrease Value">-
                            </div>

                            <input type="number"
                                   id="number6161"
                                   value="1"
                                   min="1"
                                   max="3"
                                   data-max="3"
                                   class="cart-quantity-6161 input-number camp-steps"
                                   readonly
                            />
                            <div class="value-button" id="6161" onclick="increaseValueCamp(this)"
                                 value="Increase Value">+
                            </div>

                        </figure>
                    </div>
                    <div class="card-body">
                                                                                <div class="card-footer text-center border-top-0">
                                    <a href="#"
                                       class="btn btn-primary m-2 p-3 fs-12 addToCart-6161"
                                       onclick="addToGuestCart('6161','6')">Buy Now</a>
                                </div>
                                            </div>
                </div>
            </div>
            </div>
</div>


