<div class="card-body">
    <form method="post" action="http://localhost/socheko-menu/dashboard/coupon/update/2" enctype="multipart/form-data">
        <input type="hidden" name="_token" value="9qIy2Yzmi1bTocjVfGuc4lnnDzXulg8ILUwyFPwr">
        <div class="form-group">
            <label>Coupon Code</label>
            <input type="text" name="code" value="me" class="form-control"
                   placeholder="Coupon Code" required>
        </div>

        <div class="form-group">
            <label>Discount Amount</label>
            <input type="number" name="rate" value="1233" min="0" step="0.01" class="form-control"
                   placeholder="Discount Amount" required>
        </div>

        <div class="form-group">
            <label>Starting Date</label>
            <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                <input type="text" name="start_day" value="2020-10-13 09:26:00"
                       class="form-control datetimepicker-input" data-target="#datetimepicker3"
                       placeholder="Starting Date" required/>
                <div class="input-group-append form-group" data-target="#datetimepicker3" data-toggle="datetimepicker">
                    <div class="input-group-text form-group p-10"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label>Ending Date</label>
            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                <input type="text" name="end_day" value="2020-10-24 09:26:00"
                       class="form-control datetimepicker-input" data-target="#datetimepicker4"
                       placeholder="Ending Date" required/>
                <div class="input-group-append form-group" data-target="#datetimepicker4" data-toggle="datetimepicker">
                    <div class="input-group-text form-group p-10"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label>Minimum Shopping Amount</label>
            <input type="number" name="min_value" value="3000" class="form-control" min="0"
                   placeholder="Minimum Shopping Amount" required>
        </div>

        <div class="form-group">
            <input type="checkbox" name="is_published"
                   id="published" checked>
            <label for="published">Is published?</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

