<div class="card-body">
    <form action="http://localhost/socheko-menu/dashboard/campaigns/store" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_token" value="kS4bxBKZDJbAPWyrJ6MJkc7uszuVwedvZkUyjnXV">        <div class="form-group">
            <label>Title <span class="text-danger">*</span></label>
            <input class="form-control" name="title" placeholder="Title" required>
        </div>

        <div class="form-group">
            <label class="col-form-label text-md-right">Banner</label>
            <div class="">
                <input class="form-control-file sr-file" placeholder="Choose Image  only" name="banner"
                       type="file" required>
                <small class="text-info">Supported format: png, jpg, svg</small>
            </div>
        </div>

        <div class="form-group">
            <label>Sale Off%</label>
            <input class="form-control" name="offer" type="number" max="100" placeholder="Offer %" required>
        </div>



        <div class="form-group">
            <label>Starting From</label>
                <div class="input-group date" id="datetimepicker5" data-target-input="nearest">
                    <input type="text" name="start_from" value="" class="form-control datetimepicker-input" data-target="#datetimepicker5"  placeholder="Starting From" required/>
                        <div class="input-group-append form-group" data-target="#datetimepicker5" data-toggle="datetimepicker">
                            <div class="input-group-text form-group p-10"><i class="fa fa-calendar"></i></div>
                        </div>
                </div>
        </div>


                <div class="form-group">
                    <label>End at</label>
                        <div class="input-group date" id="datetimepicker6" data-target-input="nearest">
                            <input type="text" name="end_at" value="" class="form-control datetimepicker-input" data-target="#datetimepicker6"  placeholder="End at" required/>
                                <div class="input-group-append form-group" data-target="#datetimepicker6" data-toggle="datetimepicker">
                                    <div class="input-group-text form-group p-10"><i class="fa fa-calendar"></i></div>
                                </div>
                        </div>
                </div>


        <div class="form-group">
            <label>Meta Title</label>
            <input class="form-control" name="meta_title" type="text" max="100" placeholder="Meta Title">
            <small class="text-info">Google standard: 100 characters</small>
        </div>

        <div class="form-group">
            <label>Meta Description</label>
            <input class="form-control form-control-lg" name="meta_desc" max="200"
                   placeholder="Meta Description">
            <small class="text-info">Google standard: 200 characters</small>
        </div>

        <div class="form-group">
            <label class="col-form-label text-md-right">Meta Image</label>
            <div class="">
                <input class="form-control-file sr-file" placeholder="Choose Image  only" name="meta_image"
                       type="file">
                <small class="text-info">Supported format: png, jpg, svg</small>
            </div>
        </div>

        <div class="float-right">
            <button class="btn btn-primary float-right" type="submit">Save</button>
        </div>

    </form>
</div>

<script src="http://localhost/socheko-menu/public/backend/plugins/jquery/jquery.js"></script>
<script src="http://localhost/socheko-menu/public/backend/plugins/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="http://localhost/socheko-menu/public/js/tempusdominus-bootstrap-4.min.js"></script>
    <link type="text/javascript" src="http://localhost/socheko-menu/public/css/tempusdominus-bootstrap-4.min.css"/>

  <script>
      "use strict"
      $(function () {
                $('#datetimepicker5', '#datetimepicker6').datetimepicker();
            });
  </script>
