<div class="card-body">
    <form action="http://localhost/socheko-menu/dashboard/campaigns/update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_token" value="kS4bxBKZDJbAPWyrJ6MJkc7uszuVwedvZkUyjnXV">        <input type="hidden" name="id" value="6">
        <input type="hidden" name="logo" value="uploads/campaign/98Jn6GqTGmgog841nhuAQ10zr2wWMT8fwPsle4fG.jpeg">
        <input type="hidden" name="banner" value="">
        <input type="hidden" name="_token" value="kS4bxBKZDJbAPWyrJ6MJkc7uszuVwedvZkUyjnXV">        <div class="form-group">
            <label>Title <span class="text-danger">*</span></label>
            <input class="form-control" name="title" placeholder="Title" value="50%-off" required>
        </div>

                    <img src="http://localhost/socheko-menu/public/uploads/campaign/98Jn6GqTGmgog841nhuAQ10zr2wWMT8fwPsle4fG.jpeg" class="img-thumbnail table-avatar">
                <div class="form-group">
            <label class="col-form-label text-md-right">Banner</label>
            <div class="">
                <input class="form-control-file sr-file" placeholder="Choose Image  only"  name="new_banner" type="file">
                <small class="text-info">Supported format: png, jpg, svg</small>
            </div>
        </div>

        <div class="form-group">
            <label>Sale Off %</label>
            <input class="form-control" name="offer" type="number" max="100" placeholder="Offer %" value="50" required>
        </div>

        <div class="form-group">
            <label>Starting From</label>
                <div class="input-group date" id="datetimepicker5" data-target-input="nearest">
                    <input type="text" name="start_from" value="2021-04-01 14:32:00" class="form-control datetimepicker-input" data-target="#datetimepicker5"  placeholder="Starting From" required/>
                        <div class="input-group-append form-group" data-target="#datetimepicker5" data-toggle="datetimepicker">
                            <div class="input-group-text form-group p-10"><i class="fa fa-calendar"></i></div>
                        </div>
                </div>
        </div>
    
                <div class="form-group">
                    <label>End at</label>
                        <div class="input-group date" id="datetimepicker6" data-target-input="nearest">
                            <input type="text" name="end_at" value="2021-05-01 14:32:00" class="form-control datetimepicker-input" data-target="#datetimepicker6"  placeholder="End at" required/>
                                <div class="input-group-append form-group" data-target="#datetimepicker6" data-toggle="datetimepicker">
                                    <div class="input-group-text form-group p-10"><i class="fa fa-calendar"></i></div>
                                </div>
                        </div>
                </div>

        <div class="form-group">
            <label>Meta Title</label>
            <input class="form-control" name="meta_title" type="text" max="100" placeholder="Meta Title" value="">
            <small class="text-info">Google standard: 100 characters</small>
        </div>

        <div class="form-group">
            <label>Meta Description</label>
            <input class="form-control form-control-lg" name="meta_desc" max="200" placeholder="Meta Description" value="">
            <small class="text-info">Google standard: 200 characters</small>
        </div>

                <div class="form-group">
            <label class="col-form-label text-md-right">Meta Image</label>
            <div class="">
                <input class="form-control-file sr-file" placeholder="Choose Image  only"  name="new_meta_image" type="file">
                <small class="text-info">Supported format: png, jpg, svg</small>
            </div>
        </div>

        <div class="float-right">
            <button class="btn btn-primary float-right" type="submit">Update</button>
        </div>
    </form>
</div>


