<div class="card-body">
    <form action="http://localhost/socheko-menu/dashboard/category/update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_token" value="U6M8xOfCjNY9V1GSe2m34HWJmcoG9JCGLyD2sqzr">        <input type="hidden" name="id" value="354">
        <input type="hidden" name="parent_id" value="353">
        <input type="hidden" name="image" value="">
        <input type="hidden" name="slug" value="pasta1">
        <div class="form-group">
            <label>Name <span class="text-danger">*</span></label>
            <input class="form-control" name="name" placeholder="Name" required value="Pasta">
        </div>


        <div class="form-group">
            <label class="col-form-label text-md-right">Icon Class</label>
            <div class="custom-file">
                <input class="form-control" value="" name="icon" type="text">
                <small>Want more icon ? <a href="https://fontawesome.com/v4.7.0/icons/" target="_blank">Font
                        Awesome</a></small>
            </div>
        </div>

                <div class="form-group">
            <label class="col-form-label text-md-right">Image</label>
            <div class="">
                <input class="form-control-file sr-file" placeholder="Choose Image  only" name="newImage"
                       type="file">
                <small class="text-info">Upload file support png, jpg, svg format</small>
            </div>
        </div>
                    <div class="form-group">
                <label>Select commission</label>
                <select class="form-control select2 w-100" name="commission_id" required>
                    <option value="">Select commission</option>
                                            <option
                            value="1" selected>10
                            %
                        </option>
                                            <option
                            value="2" >15
                            %
                        </option>
                                    </select>
            </div>
                <div class="form-group">
            <label>Meta Title</label>
            <input class="form-control" name="meta_title" value="" type="text" max="100"
                   placeholder="Meta title">
            <small class="text-info">Google standard 100 characters</small>
        </div>

        <div class="form-group">
            <label>Meta Description</label>
            <input class="form-control form-control-lg" name="meta_desc" max="200" value="">
            <small class="text-info">Google standard 200 characters</small>
        </div>

        <div class="float-right">
            <button class="btn btn-primary float-right" type="submit">Update</button>
        </div>

    </form>
</div>
