<div class="card-body">
    <form action="http://localhost/socheko-menu/dashboard/seller/campaigns/request" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_token" value="O2E7pwDYAkrynxCQ3gpmsvKw5Rs2qJO8ePQSkWW0">        <div class="form-group">
            <label>Title <span class="text-danger">*</span></label>
            <input class="form-control" name="title" placeholder="Title" required>
        </div>

        <div class="form-group">
            <label class="col-form-label text-md-right">Banner <span class="text-danger">*</span></label>
            <div class="">
                <input class="form-control-file sr-file" placeholder="Choose Image  only"  name="banner" type="file" required>
                <small class="text-info">Supported format: png, jpg, svg</small>
            </div>
        </div>

        <div class="form-group">
            <label>Sale Off % <span class="text-danger">*</span></label>
            <input class="form-control" name="offer" type="number" max="100" placeholder="Offer %" required>
        </div>


        <div class="form-group">
            <label>Starting From</label>
            <div class="input-group date" id="datetimepicker55seller" data-target-input="nearest">
                <input type="text" name="start_from" value="" class="form-control datetimepicker-input" data-target="#datetimepicker55seller"  placeholder="Starting From" required/>
                <div class="input-group-append form-group" data-target="#datetimepicker55seller" data-toggle="datetimepicker">
                    <div class="input-group-text form-group p-10"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label>End at</label>
            <div class="input-group date" id="datetimepicker66seller" data-target-input="nearest">
                <input type="text" name="end_at" value="" class="form-control datetimepicker-input" data-target="#datetimepicker66seller"  placeholder="End at" required/>
                <div class="input-group-append form-group" data-target="#datetimepicker66seller" data-toggle="datetimepicker">
                    <div class="input-group-text form-group p-10"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>

        <div class="float-right">
            <button class="btn btn-primary float-right" type="submit">Make Request</button>
        </div>

    </form>
</div>


<script src="http://localhost/socheko-menu/public/backend/plugins/jquery/jquery.js"></script>
<script src="http://localhost/socheko-menu/public/backend/plugins/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="http://localhost/socheko-menu/public/js/tempusdominus-bootstrap-4.min.js"></script>
<link type="text/javascript" src="http://localhost/socheko-menu/public/css/tempusdominus-bootstrap-4.min.css"/>

<script>
    "use strict"
    $(function () {
        $('#datetimepicker55seller', '#datetimepicker66seller').datetimepicker();
    });
</script>