<div class="card-body">
    <form action="http://localhost/socheko-menu/dashboard/promotions/main/slider/update/2" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_token" value="U6M8xOfCjNY9V1GSe2m34HWJmcoG9JCGLyD2sqzr">
        <div class="form-group">
            <label>Category Select</label>
            <select class="form-control select2" name="category_id">
                <option value=""></option>
                                    <option
                        value="349" selected>Italian</option>
                                    <option
                        value="352" >Chinese</option>
                                <small>If you choose a category, this will display at category slider.</small>
            </select>
        </div>

        <div class="form-group">
            <label>Link <span class="text-danger">*</span></label>
            <input class="form-control" name="link" value="#"
                   placeholder="Link">
        </div>


        <div class="form-group">
            <label id="customFile" class="col-form-label text-md-right">Current Image</label>
            <div class="">
                <input name="oldImage" type="hidden" value="uploads/promotions/main_sliders/i27ZUOX1IDRGFOEyVnvX6FYh1VJx9Z0pOzCH2GhE.jpeg">
                <img src="http://localhost/socheko-menu/public/uploads/promotions/main_sliders/i27ZUOX1IDRGFOEyVnvX6FYh1VJx9Z0pOzCH2GhE.jpeg" alt="#Main Slider">
            </div>
        </div>

        <div class="form-group">
            <label id="customFile" class="col-form-label text-md-right">Image</label>
            <div class="">
                <input id="customFile" class="form-control lh-1" placeholder="Choose Image  only"
                       name="image" type="file">
                <small class="text-info">Upload file support png, jpg, svg format</small>
            </div>
        </div>

        <div class="form-group">
            <label> Publish?
                <input class="add-variant" type="checkbox"
                       name="is_published" checked>
            </label>
        </div>

        <div class="float-right">
            <button class="btn btn-primary float-right" type="submit">Save</button>
        </div>

    </form>
</div>
